<!-- 归档页，按月分组 -->
<div class="container archives">
  <div class="post-list">
    <%
      var prev = '';
      var curr;

      site.posts.sort('date', -1).each(function(item, index) {
        curr = item.date.format('YYYY-MM');
        if (curr !== prev) {
          prev = curr;
    %>
        <div class="content-title">
          <h2><span><%- curr %></span></h2>
        </div>
    <%
        }
    %>
      <div class="post-item" title="<%- item.title %>">
        <div class="time-m-d"><%- item.date.format("MM-DD") %></div>
        <div class="title">
          <a href="<%- url_for(item.path) %>">
            <span><%- item.title %></span>
          </a>
        </div>
      </div>
    <%
      });
    %>
  </div>
</div>
